﻿body {
}

.star {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 2px;
    float: left;
    background-color: grey;
    clip-path: polygon( 50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38% );
}

    .star.selected {
        background-color: red;
    }

.color {
    border: 1px solid #000000;
    height: 50px
}

.section-color {
    border: 1px solid #c7c7c7;
    box-shadow: 3px 5px 10px #c7c7c9;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center
}

.pull-right {
    float: right;
}

.star-rating {
    margin:auto
}

    .star-rating .star {
        align-items: center
    }
.aggiungi-colore{
    margin-bottom:50px
}

.btn-success {
    color:#ffffff;
    background-color:#6fd743
}

.text-red{color:#ff0000}
.text-green {
    color: #1ec13f
}